body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html,
body,
#root {
  background-color: #eceff1;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

*::-webkit-scrollbar-track {
  background: rgb(250, 248, 249) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb {
  background: #757575 !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 226, 83) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(214, 39, 39) !important;
  border-radius: 3px
}


.links {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 1px;
}

text {
  pointer-events: none;
  fill: #000;
  font: 10px sans-serif;
}

/* svg {
  border: 1px solid #000;
} */